[Interface]
PrivateKey = {{ slurp_privkey.content | b64decode | trim }}
Address = {{ slurp_wglinklocal.content | b64decode | trim }}
 
[Peer]
PublicKey = {{ wg_endpoint_pubkey }}
AllowedIPs = {{ wg_endpoint_link }}
Endpoint = {{ wg_endpoint_host }}:{{ wg_endpoint_port }}
PersistentKeepalive = 2